# MacOS
.DS_Store

# VSCode
.vscode

# Debugging
a.out
a.out.dSYM
minishell_test.dSYM
minishell.dSYM

# Object Files
*.o

# Experimentation
experiments

# Notes
notes.md

# Program
minishell
minishell_test
a.out

*.a

# Redirection files
infile
outfile
